
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body { 
    font-size: 16px;

    &.no-scroll {
        overflow-y: hidden;
    }
}

h1 {
    font-family: $playfair;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
}

h2 {
    font-family: $playfair;
    font-size: 42px;
    line-height: 46px;
    font-weight: 500;
}

h3 {
    font-family: $playfair;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

h4 {
    font-family: $playfair;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

h5 {
    font-family: $playfair;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

h6 {
    font-family: $playfair;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

[v-cloak] {
    display: none;
}

::placeholder {
    color: #999;
    opacity: 1;
}

.columns {
    display: flex;

    &.centered {
        align-items: center;
    }

    .column {
        flex: 1 1 50%;

        &.w-100 {
            width:100px;
            flex: 0 0 100px;
        }
    }
}

.show {
    // display: revert !important;
    opacity: 1 !important;
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: -1;
    opacity: 0;
    transition: .1s all ease-in-out;

    &.show {
        z-index: 100;
        opacity: 1;
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.wysiwyg {
    background: #fff;
    line-height: 1.5em;
    font-size: 14px;
    font-family: $inter;

    &.large {
        height:300px;
    }

    &.small {
        height:200px;
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select {
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 3px;
    outline: none;

    &.light {
        border-color: #eee;
    }
}

.field {
    margin-bottom: 20px;
    position: relative;

    &.collapse {
        margin-bottom: 5px;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
    }

    &.checkbox {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 600px)  {
    
    .columns.layout {
        display: block;
    }
}