$black: #000;
$peacoat: #393747;
$beige: #C5C1A0;
$cream: #EAE6C8;
$seashell: #FBF2EF;
$rasberry: #DC759C;
$orange: #EBB279;
$lightPurple: #E9E9F2;
$lavendar: #BBBBDA;
$purple: #7768A5;
$salmon: #E19189;
$red: red;
$green: green;
$gray: #888;

$articulat: 'articulat-cf';
$inter: 'inter';
$playfair: 'Playfair Display';