* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
body.no-scroll {
  overflow-y: hidden;
}

h1 {
  font-family: "Playfair Display";
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display";
  font-size: 42px;
  line-height: 46px;
  font-weight: 500;
}

h3 {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
}

h4 {
  font-family: "Playfair Display";
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

h5 {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h6 {
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

[v-cloak] {
  display: none;
}

::-moz-placeholder {
  color: #999;
  opacity: 1;
}

::placeholder {
  color: #999;
  opacity: 1;
}

.columns {
  display: flex;
}
.columns .column {
  flex: 1 1 50%;
}

.show {
  opacity: 1 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: 0.1s all ease-in-out;
}
.overlay.show {
  z-index: 100;
  opacity: 1;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.wysiwyg {
  background: #fff;
  line-height: 1.5em;
  font-size: 14px;
  font-family: "Saira";
}
.wysiwyg.large {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .columns.layout {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fafafa;
}

body {
  font-family: "inter";
  font-size: 14px;
  height: 100%;
  color: #333;
  background: #fafafa;
  padding-top: 75px;
}

.loader {
  height: 25px;
}

header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 101;
  display: flex;
  align-items: center;
}

h4 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 5px;
}
table.sortable th {
  cursor: pointer;
}
table tr {
  text-align: left;
}
table tr th {
  font-weight: 500;
  font-size: 14px;
}
table tr th.icon {
  width: 25px;
}
table tr th.icon.drag {
  color: #ccc;
  cursor: grab;
}
table tr td, table tr th {
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
}
table tr td span.remove {
  flex: 0 0 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #777;
}
table tr td span.remove:hover {
  color: red;
}
table tr.deleted {
  background-color: rgba(255, 0, 0, 0.05);
}
table tbody tr:last-child td, table tbody tr:last-child th {
  border: 0;
}
table.collapsed td, table.collapsed th {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}
table th {
  font-size: 16px;
}
table td.delete-column,
table td.copy-column {
  width: 30px;
  text-align: center;
}
table td.delete-column a,
table td.copy-column a {
  cursor: pointer;
  border: 0;
}
table a.copy {
  color: #22a7f0;
}
table tr.fraud td {
  background: rgba(255, 0, 0, 0.1);
}
table tr.disabled {
  opacity: 0.4;
}
table .number {
  width: 90px;
}
table .mid {
  width: 140px;
}

a {
  text-decoration: none;
  color: #0075DD;
  cursor: pointer;
}
a:hover {
  font-weight: 600;
}
a.copy {
  color: #22a7f0;
}

.right {
  float: right;
}

button,
.button {
  font-family: "inter";
  font-size: 14px;
  background: #0075DD;
  color: #fff;
  padding: 15px;
  min-width: 200px;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  transition: 0.2s opacity ease-in-out;
}
button [disabled],
.button [disabled] {
  background-color: #555;
}
button.small,
.button.small {
  min-width: 0;
  padding: 10px 15px;
}
button.collapse,
.button.collapse {
  min-width: 0;
  padding: 5px;
}
button.full,
.button.full {
  width: 100%;
}
button:hover,
.button:hover {
  font-weight: normal;
  opacity: 0.9;
  color: #fff;
}
button.alert,
.button.alert {
  background: red;
}
button.disabled, button:disabled,
.button.disabled,
.button:disabled {
  opacity: 0.2;
  cursor: default;
}
button.disabled:hover, button:disabled:hover,
.button.disabled:hover,
.button:disabled:hover {
  opacity: 0.2;
}

button.alt, .button.alt {
  background: #000;
}

button:hover, .button:hover {
  background: #333;
  color: #fff;
}

.tox button,
.tox .button {
  min-width: 0;
}

.ql-toolbar button {
  min-width: auto;
  color: initial;
}

.relative {
  position: relative;
}

h1 {
  margin-bottom: 20px;
}
h1 .actions {
  float: right;
  position: relative;
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
h2.with-subtitle {
  margin-bottom: 0;
}
h2 .small {
  font-size: 16px;
  font-weight: 400;
}

h2 ~ .subtitle {
  color: #888;
  margin-bottom: 20px;
}

h1 .small {
  font-size: 14px;
  font-weight: 400;
}
h1.with-subtitle {
  margin-bottom: 0;
}

h1.with-subtitle ~ .subtitle {
  color: #888;
  margin-bottom: 20px;
}

h5 .small {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
}

ul, li {
  margin: 0;
  list-style-type: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
input[type=text].light,
input[type=password].light,
input[type=email].light,
input[type=number].light,
select.light {
  border-color: #eee;
}

input[type=checkbox] {
  margin-right: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-family: "inter";
  font-size: 13px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
textarea p {
  font-family: "inter";
}
textarea.large {
  height: 200px;
}

.clickable {
  cursor: pointer;
}

.columns {
  display: flex;
}
.columns.centered {
  align-items: center;
}
.columns.nopad {
  margin: 0;
  padding: 0;
}
.columns.nopad .column {
  margin: 0;
  padding: 0;
}
.columns .break {
  flex: 1 1 100%;
  height: 0;
  display: none;
}
.columns .column {
  flex: 1 1;
  margin: 10px;
}
.columns .column.small {
  flex: 0 0 75px;
}
.columns .column.secondary {
  flex: 0 0 325px;
}
.columns .column.secondary.alt {
  background: #fafafa;
  padding: 20px;
}
.columns .column:first-child {
  margin-left: 0;
}
.columns .column:last-child {
  margin-right: 0;
}

.grouped-inputs .field {
  margin-bottom: 10px;
}
.grouped-inputs .field label {
  font-size: 13px;
  margin-bottom: 2px;
}
.grouped-inputs h4 {
  margin-bottom: 7px;
}

.add-button {
  cursor: pointer;
  color: #0075DD;
  font-size: 24px;
  margin-left: 10px;
}

input.item-qty {
  width: 60px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}
input.item-qty::-webkit-inner-spin-button {
  opacity: 1;
}

.input-bar {
  position: relative;
}
.input-bar button {
  width: 100px;
  height: 48px;
  box-sizing: border-box;
  padding: 10px;
  min-width: 0;
}
.input-bar .clear-input {
  position: absolute;
  right: 100px;
  top: 0;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  opacity: 0.5;
  transition: 0.2s opacity ease-in-out;
  font-size: 18px;
}
.input-bar .clear-input:hover {
  opacity: 1;
}
.input-bar .clear-input span {
  margin: auto;
}
.input-bar input[type=text],
.input-bar input[type=number] {
  width: calc(100% - 100px);
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
}
.input-bar.with-quantity input[type=text] {
  width: calc(100% - 200px);
}
.input-bar.with-quantity input[type=number] {
  width: 100px;
}
.input-bar.no-button input[type=text] {
  width: 100%;
}
.input-bar.no-button .clear-input {
  right: 0;
}
.input-bar.small button {
  height: auto;
}
.input-bar.small input {
  height: 42px;
}
.input-bar.small .clear-input {
  height: 42px;
}

.tooltip {
  position: relative;
}
.tooltip i {
  color: #dc6b06;
  font-size: 14px;
  margin: 0 10px;
}
.tooltip span {
  position: absolute;
  top: -10px;
  left: 40px;
  background-color: #fff;
  border: 1px solid #dc6b06;
  padding: 15px;
  width: 300px;
  opacity: 0;
  z-index: -1;
  transition: 0.2s opacity ease-in-out;
  box-shadow: 3px 3px 3px #ccc;
}
.tooltip:hover span {
  opacity: 1;
  z-index: 99;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  display: none;
}
.modal.show {
  display: flex !important;
}
.modal h3 {
  margin-bottom: 15px;
}
.modal .modal-view {
  margin: auto;
  text-align: left;
  background: #fff;
  padding: 30px;
  min-width: 400px;
  display: none;
  max-height: 90%;
  overflow: auto;
  position: relative;
}
.modal .modal-view .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.modal .modal-view .overflow {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
}
.modal .modal-view.image-preview {
  width: 60%;
  height: 60%;
  position: relative;
  overflow-y: hidden;
}
.modal .modal-view.image-preview iframe {
  height: 100%;
}
.modal .modal-view.image-preview img {
  max-width: 100%;
  max-height: 100%;
}
.modal .modal-view.image-preview .close-preview {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
  background: #f5f5f5;
  padding: 5px;
}
.modal .modal-view .error {
  background: rgba(255, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
}
.modal .modal-view input[type=radio] {
  margin-right: 5px;
}
.modal .modal-view .line {
  margin-bottom: 5px;
}
.modal .modal-view .line.padded {
  margin-bottom: 10px;
}
.modal .modal-view .actions {
  margin-top: 20px;
}
.modal .modal-view .actions button {
  width: 100px;
  min-width: 100px;
  cursor: pointer;
}
.modal .modal-view .actions button.wide {
  width: 150px;
}
.modal .modal-view .actions button.primary:hover {
  opacity: 0.9;
}
.modal .modal-view .actions button.secondary {
  background: #fff;
  color: #777;
  border: 1px solid transparent;
}
.modal .modal-view .actions button.secondary:hover {
  color: #000;
  border-color: #000;
  border: 1px solid #000;
}
.modal .modal-view .actions button:first-child {
  float: left;
}
.modal .modal-view .actions button:last-child {
  float: right;
}

.wait {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
.wait.loaded {
  opacity: 1;
}

.status,
.error,
.warning {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  color: #000;
  text-align: center;
}

.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.warning {
  color: orange;
  background-color: rgba(220, 107, 6, 0.1);
}

.actions.footer button ~ button {
  margin-left: 20px;
}

.crud form .actions {
  margin-top: 30px;
  background: #f5f5f5;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
.crud h3 {
  margin-bottom: 15px;
}

.hidden {
  display: none !important;
}

.show {
  display: revert !important;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
  position: relative;
}
.field.collapse {
  margin-bottom: 5px;
}
.field:last-child {
  margin-bottom: 0;
}
.field label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
.field.checkbox {
  margin-bottom: 10px;
}

.input-with-label {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0;
}
.input-with-label input, .input-with-label span {
  flex: 1 1 50%;
  border: 0;
  padding: 7px;
}
.input-with-label span {
  flex: 0 0 30px;
  width: 50px;
  background: #eee;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#changed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  padding: 15px;
  padding-left: 250px;
  z-index: -1;
  opacity: 0;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
#changed .error {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0;
}
#changed.show {
  opacity: 1;
  z-index: 500;
}
#changed .container {
  max-width: 1150px;
}
#changed button {
  width: 100px;
  min-width: 100px;
  padding: 7px;
  border: 1px solid #777;
  border-radius: 5px;
  float: right;
  margin: 0 5px;
  cursor: pointer;
}
#changed .discard {
  background: transparent;
  color: #fff;
}
#changed .discard:hover {
  background: #555;
}
#changed .save {
  border: 1px solid #0075DD;
}
#changed .save:hover {
  opacity: 0.8;
}

.wysiwyg {
  background: #fff;
  line-height: 1.5em;
  font-size: 14px;
  font-family: "Saira";
}
.wysiwyg.large {
  height: 300px;
}

.overflow {
  overflow-x: auto;
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

.noval {
  color: #777;
}

.menu {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.menu span {
  display: inline-block;
  margin-right: 20px;
}
.menu span a {
  color: #000;
}

.slide-in {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  background: #fff;
  height: 100%;
  border-left: 1px solid #ddd;
  transition: 0.2s all ease-in-out;
  z-index: 200;
}
.slide-in .close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: 24px;
  line-height: 1em;
}
.slide-in .close:hover {
  color: #000;
}
.slide-in .content {
  padding: 30px;
  overflow-y: auto;
}
.slide-in.show {
  right: 0;
}

.mobile-menu-trigger {
  display: none;
}
.mobile-menu-trigger i {
  font-size: 20px;
  cursor: pointer;
}
.mobile-menu-trigger i:hover {
  font-weight: 600;
}

.mobile-menu {
  display: none;
}

#async-status {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #dc6b06;
  border: 1px solid #dc6b06;
  padding: 15px;
  max-width: 300px;
  opacity: 0;
  z-index: -1;
  transition: 0.2s opacity ease-in-out;
  box-shadow: 3px 3px 3px #ccc;
}
#async-status .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  display: none;
}
#async-status.error {
  background-color: #dc6b06;
  color: #fff;
  text-align: left;
}
#async-status.error .fa-times {
  display: block;
}
#async-status.show {
  opacity: 1;
  z-index: 999;
}

.save-bar {
  padding: 20px;
  border-top: 2px solid #000;
  margin-left: -30px;
  width: calc(100% + 60px);
  background: #888;
  color: #fff;
  position: fixed;
  bottom: 0;
  display: none;
}

.filter-bar {
  margin-bottom: 20px;
}
.filter-bar input[type=text],
.filter-bar input[type=number] {
  border: 1px solid #eee;
}

#content {
  background: #fafafa;
  min-height: 100%;
}
#content .padded-content {
  padding: 30px;
}
#content .section {
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 20px;
}
#content .section .subsection {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding: 10px;
  background: #fafafa;
  position: relative;
}
#content .section.min-width {
  min-width: 650px;
}
#content .section h4 {
  font-weight: 600;
  margin-top: 20px;
}
#content .section .field h4 {
  margin-top: 0;
}
#content .section h5 {
  font-size: 16px;
  margin-bottom: 5px;
}
#content .section a.inset {
  margin-left: 10px;
}
#content .column.primary {
  min-width: 750px;
}
#content .secondary h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

ul.matches {
  position: absolute;
  max-height: 250px;
  width: 100%;
  z-index: 999;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 4px 4px 4px #ccc;
}
ul.matches.properties {
  margin-top: -10px;
  width: 95%;
}
ul.matches li {
  padding: 7px 15px;
  cursor: pointer;
}
ul.matches li:hover {
  background: #eee;
}
ul.matches li .name {
  font-weight: 500;
}
ul.matches li .breadcrumb {
  color: #999;
  font-size: 12px;
}

.bottom-actions {
  margin-top: 30px;
  border-top: 2px solid #eee;
  padding-top: 30px;
}

.metrics .columns .column:last-child {
  text-align: right;
}
.metrics .columns .column {
  margin: 0;
  margin-bottom: 8px;
}

.filter-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.filter-tabs ul {
  display: flex;
}
.filter-tabs ul li {
  padding: 0 10px 10px 10px;
}
.filter-tabs ul li a {
  color: #000;
  font-weight: 400;
}
.filter-tabs ul li.active {
  border-bottom: 2px solid #0075DD;
}
.filter-tabs ul li.active a {
  color: #0075DD;
  font-weight: 500;
}

.timeline {
  border-left: 3px solid #eee;
  margin-bottom: 30px;
}
.timeline .timeline-source {
  color: #dc6b06;
  font-size: 11px;
}
.timeline .timeline-date {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #888;
  font-weight: bold;
}
.timeline .timeline-note {
  font-size: 11px;
  margin-top: 5px;
}
.timeline .timeline-change {
  padding-top: 5px;
  font-size: 11px;
}
.timeline .timeline-change .timeline-field {
  font-family: monospace;
  color: #dc6b06;
  display: block;
}
.timeline .timeline-change .timeline-value.old {
  text-decoration: line-through;
  opacity: 0.5;
  margin-right: 5px;
}
.timeline .timeline-time {
  font-size: 11px;
  color: #555;
  font-family: monospace;
}
.timeline .timeline-item {
  margin-left: 23px;
  text-indent: -29px;
  margin-bottom: 10px;
}
.timeline .timeline-item .timeline-changes {
  display: none;
  text-indent: initial;
}
.timeline .timeline-item .toggle-changes {
  font-size: 13px;
  margin-left: 7px;
  cursor: pointer;
  text-indent: initial;
}
.timeline .timeline-item .toggle-changes .fa-caret-down {
  display: none;
}
.timeline .timeline-item.show-changes .fa-caret-right {
  display: none;
}
.timeline .timeline-item.show-changes .fa-caret-down {
  display: initial;
}
.timeline .timeline-item.show-changes .timeline-changes {
  display: block;
}
.timeline .timeline-item:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: #dc6b06;
  margin-right: 10px;
  opacity: 0.7;
}

.dealer-row.disabled {
  opacity: 0.5;
}

.definition-input {
  margin-bottom: 5px;
}

.definition {
  margin-bottom: 20px;
}
.definition .condition {
  margin-bottom: 10px;
}
.definition span {
  margin: 0 3px;
  margin-bottom: 5px;
  display: inline-block;
}
.definition span.property {
  color: rgb(9, 142, 231);
}
.definition span.attribute {
  color: rgb(220, 107, 6);
}
.definition span.operator {
  font-weight: bold;
}
.definition span.field {
  font-style: italic;
}
.definition span.value {
  border-bottom: 1px solid #ccc;
}

.definition, .restrictions li {
  margin-bottom: 20px;
}

i.delete {
  color: red;
}

form .delete,
form .delete-notification {
  float: right;
  color: red;
  padding-top: 8px;
  cursor: pointer;
}

form .copy {
  float: right;
  padding-top: 8px;
  cursor: pointer;
  margin-right: 20px;
}

i.fa-trash {
  color: red;
}

ul.rules {
  margin-left: 30px;
}
ul.rules li {
  list-style-type: disc;
}

.restrictions h4 {
  margin-bottom: 15px;
}

.location-zips {
  max-width: 300px;
  word-break: break-all;
}

.margin {
  margin-top: 30px;
}

.triple {
  display: flex;
  flex-wrap: wrap;
}
.triple .field {
  flex: 1 1 33.3%;
  max-width: 33.3%;
}
.triple .field:nth-child(3n+2) {
  padding: 0 10px;
}

.filters {
  margin: 25px 0;
}
.filters select {
  border: 1px solid #eee;
  width: auto;
  margin-right: 10px;
}
.filters .filter {
  padding: 10px;
  border: 1px solid #eee;
  background: #fff;
  font-size: 12px;
  margin-right: 10px;
}
.filters .filter.action {
  background-color: #dc6b06;
  color: #fff;
  cursor: pointer;
}
.filters .filter.action.alt {
  background-color: #fff;
  border: 1px solid #dc6b06;
  color: #dc6b06;
}
.filters .filter .remove {
  padding: 3px 6px;
  background-color: #eee;
  margin-left: 10px;
  cursor: pointer;
}
.filters .actions-menu {
  position: relative;
}
.filters .actions-menu .actions-trigger {
  width: 40px;
  display: inline-block;
  text-align: center;
}
.filters .actions-menu .menu-items {
  display: none;
  position: absolute;
  width: 300px;
  background: #f5f5f5;
  overflow-y: auto;
  z-index: 50;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 3px #eee;
}
.filters .actions-menu .menu-items li {
  padding: 5px;
  cursor: pointer;
}
.filters .actions-menu .menu-items li:hover {
  background-color: #f5f5f5;
}
.filters .actions-menu .menu-items:hover {
  display: block;
}
.filters .actions-menu .actions-trigger:hover ~ .menu-items {
  display: block;
}

img.loading {
  max-height: 30px;
}

.editable {
  display: none;
}

.editing .readonly {
  display: none;
}
.editing .editable {
  display: initial;
}
.editing .editable .small {
  width: 75px;
  text-align: center;
}

.w-50 {
  width: 50px !important;
}

.w-75 {
  width: 75px !important;
}

.w-100 {
  flex: 0 0 100px !important;
  width: 100px !important;
}

.w-150 {
  flex: 0 0 150px !important;
  width: 150px;
}

.w-200 {
  flex: 0 0 200px !important;
  width: 200px;
}

.affiliate-options {
  margin-top: 15px;
}
.affiliate-options li {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.affiliate-options li:last-child {
  border: 0;
}
.affiliate-options li .name {
  font-weight: 500;
}
.affiliate-options li .breadcrumb {
  color: #999;
  font-size: 12px;
  margin-top: -5px;
}
.affiliate-options li .remove {
  flex: 0 0 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #777;
}
.affiliate-options li .remove:hover {
  color: red;
}

#products-page .live {
  color: green;
}
#products-page .draft {
  color: #888;
}
#products-page .product-list {
  max-width: 100%;
  overflow-x: auto;
}
#products-page .product-list img {
  max-height: 60px;
  max-width: 60px;
}
#products-page .product-list img.loading {
  max-height: 30px;
}
#products-page .subtitles {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  display: none;
}
#products-page .subtitles span {
  width: 45px;
  display: inline-block;
}
#products-page .subtitles span:first-child {
  text-align: left;
}
#products-page .subtitles span:last-child {
  text-align: right;
}
#products-page .available input {
  width: 50px;
  text-align: center;
  display: none;
}
#products-page table.tablesorter th {
  cursor: pointer;
}
#products-page tr.checked th.inventory {
  padding-bottom: 5px;
}
#products-page tr.checked .subtitles {
  display: block;
}
#products-page tr.checked td {
  background-color: rgba(220, 107, 6, 0.05);
}
#products-page tr.checked .available {
  width: 150px;
}
#products-page tr.checked .available input {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
}
#products-page tr.checked .available span {
  display: none;
}
#products-page tr.checked .changed {
  padding-bottom: 5px;
}
#products-page tr.checked .inventory-diff {
  font-size: 13px;
}
#products-page .category-view {
  min-width: 500px;
}
#products-page .category-view .categories {
  max-height: 400px;
  overflow-y: auto;
}

.modal-view .tags li {
  padding: 5px 10px;
}
.modal-view .tags li:hover {
  background-color: #f5f5f5;
}
.modal-view .tags li .path {
  color: #777;
  font-size: 12px;
}
.modal-view .tags li.selected {
  background-color: #dc6b06;
  color: #fff;
}
.modal-view .tags li.selected .path {
  color: #ccc;
}
.modal-view .filter-exclude {
  padding: 10px;
  background: #fafafa;
}

#product-page .images > div {
  display: flex;
}
#product-page .images > div .image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
#product-page .images > div .image img {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}
#product-page .images > div .image .close {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  background: #fff;
  padding: 5px 10px;
  display: none;
}
#product-page .images > div .image:hover .close {
  color: red;
  display: block;
  border: 1px solid #eee;
}
#product-page .images > div .image:hover .close:hover {
  font-weight: bold;
}
#product-page tr.price-rule {
  background-color: #fafafa;
}
#product-page tr.price-rule.draft {
  opacity: 0.5;
}
#product-page .product-images h5 a {
  margin-left: 10px;
}
#product-page .product-images h5 a:hover {
  font-weight: bold;
}
#product-page .variant-toggle {
  background: #f5f5f5;
  padding: 10px;
}
#product-page .variant-section {
  display: flex;
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
}
#product-page .variant-section .variants {
  flex: 0 0 250px;
}
#product-page .variant-section .variants ul {
  margin-right: 10px;
  max-height: 350px;
  overflow-y: auto;
}
#product-page .variant-section .variants ul li {
  background: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
}
#product-page .variant-section .variants ul li a {
  position: absolute;
  right: 10px;
  display: none;
}
#product-page .variant-section .variants ul li:hover {
  background: #eee;
}
#product-page .variant-section .variants ul li:hover a {
  display: inline;
}
#product-page .variant-section .variants ul li.active {
  font-weight: 600;
  background: #ddd;
}
#product-page .variant-section .selected-variant {
  font-weight: 500;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}
#product-page .variant-section .selected-variant a {
  position: absolute;
  right: 10px;
  font-weight: 400;
}
#product-page .variant-section .variant-options {
  flex: 1 1 auto;
}
#product-page .product-categories,
#product-page .product-related,
#product-page .product-tags {
  margin-top: 15px;
}
#product-page .product-categories li,
#product-page .product-related li,
#product-page .product-tags li {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
#product-page .product-categories li:last-child,
#product-page .product-related li:last-child,
#product-page .product-tags li:last-child {
  border: 0;
}
#product-page .product-categories li .name,
#product-page .product-related li .name,
#product-page .product-tags li .name {
  font-weight: 500;
}
#product-page .product-categories li .breadcrumb,
#product-page .product-related li .breadcrumb,
#product-page .product-tags li .breadcrumb {
  color: #999;
  font-size: 12px;
  margin-top: -5px;
}
#product-page .product-categories li .remove,
#product-page .product-related li .remove,
#product-page .product-tags li .remove {
  flex: 0 0 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #777;
}
#product-page .product-categories li .remove:hover,
#product-page .product-related li .remove:hover,
#product-page .product-tags li .remove:hover {
  color: red;
}
#product-page .product-related .name {
  line-height: 1.2em;
}
#product-page .product-related .name a {
  font-weight: 400;
  color: #000;
}
#product-page .product-related .sku {
  color: #999;
  font-size: 12px;
}
#product-page .section-footer {
  margin-top: 20px;
  padding: 10px;
  background: #fafafa;
}
#product-page .option-values span {
  margin: 5px;
  margin-left: 0;
}
#product-page .product-options li {
  width: 100%;
  margin-bottom: 5px;
  padding: 3px 5px;
  display: flex;
}
#product-page .product-options li .name {
  font-weight: 500;
  font-size: 16px;
}
#product-page .product-options li .remove {
  flex: 0 0 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #777;
}
#product-page .product-options li .remove:hover {
  color: red;
}
#product-page .properties {
  position: relative;
}
#product-page .properties .add-property {
  position: absolute;
  top: 10px;
  right: 10px;
}
#product-page .gen-handle {
  font-size: 12px;
  cursor: pointer;
}
#product-page .committed {
  background: #fafafa;
  padding: 10px;
}

#categories-page template,
#categories-list-page template,
#products-page template {
  display: block;
}
#categories-page .filters input,
#categories-list-page .filters input,
#products-page .filters input {
  margin-right: 10px;
}
#categories-page .categories .parent,
#categories-page .filters .parent,
#categories-list-page .categories .parent,
#categories-list-page .filters .parent,
#products-page .categories .parent,
#products-page .filters .parent {
  font-size: 11px;
  color: #888;
}
#categories-page .categories .toggle,
#categories-page .filters .toggle,
#categories-list-page .categories .toggle,
#categories-list-page .filters .toggle,
#products-page .categories .toggle,
#products-page .filters .toggle {
  display: inline-block;
  padding: 3px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
#categories-page .categories .row,
#categories-page .filters .row,
#categories-list-page .categories .row,
#categories-list-page .filters .row,
#products-page .categories .row,
#products-page .filters .row {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
#categories-page .categories .row.heading,
#categories-page .filters .row.heading,
#categories-list-page .categories .row.heading,
#categories-list-page .filters .row.heading,
#products-page .categories .row.heading,
#products-page .filters .row.heading {
  font-weight: 600;
}
#categories-page .categories .row span,
#categories-page .filters .row span,
#categories-list-page .categories .row span,
#categories-list-page .filters .row span,
#products-page .categories .row span,
#products-page .filters .row span {
  flex: 1 1 auto;
  text-align: center;
}
#categories-page .categories .row span.drag,
#categories-page .filters .row span.drag,
#categories-list-page .categories .row span.drag,
#categories-list-page .filters .row span.drag,
#products-page .categories .row span.drag,
#products-page .filters .row span.drag {
  flex: 0 0 30px;
  cursor: pointer;
}
#categories-page .categories .row span.toggle,
#categories-page .filters .row span.toggle,
#categories-list-page .categories .row span.toggle,
#categories-list-page .filters .row span.toggle,
#products-page .categories .row span.toggle,
#products-page .filters .row span.toggle {
  flex: 0 0 30px;
}
#categories-page .categories .row span.name,
#categories-page .filters .row span.name,
#categories-list-page .categories .row span.name,
#categories-list-page .filters .row span.name,
#products-page .categories .row span.name,
#products-page .filters .row span.name {
  text-align: left;
}
#categories-page .categories .row span.products, #categories-page .categories .row span.visible,
#categories-page .filters .row span.products,
#categories-page .filters .row span.visible,
#categories-list-page .categories .row span.products,
#categories-list-page .categories .row span.visible,
#categories-list-page .filters .row span.products,
#categories-list-page .filters .row span.visible,
#products-page .categories .row span.products,
#products-page .categories .row span.visible,
#products-page .filters .row span.products,
#products-page .filters .row span.visible {
  flex: 0 0 150px;
}
#categories-page .categories .row span.actions,
#categories-page .filters .row span.actions,
#categories-list-page .categories .row span.actions,
#categories-list-page .filters .row span.actions,
#products-page .categories .row span.actions,
#products-page .filters .row span.actions {
  flex: 0 0 100px;
}
#categories-page .categories .row span.visible,
#categories-page .filters .row span.visible,
#categories-list-page .categories .row span.visible,
#categories-list-page .filters .row span.visible,
#products-page .categories .row span.visible,
#products-page .filters .row span.visible {
  cursor: pointer;
}
#categories-page .categories .row span.yes,
#categories-page .filters .row span.yes,
#categories-list-page .categories .row span.yes,
#categories-list-page .filters .row span.yes,
#products-page .categories .row span.yes,
#products-page .filters .row span.yes {
  font-weight: 600;
}
#categories-page .categories .row .actions i,
#categories-page .filters .row .actions i,
#categories-list-page .categories .row .actions i,
#categories-list-page .filters .row .actions i,
#products-page .categories .row .actions i,
#products-page .filters .row .actions i {
  display: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
}
#categories-page .categories .row .actions i.delete,
#categories-page .filters .row .actions i.delete,
#categories-list-page .categories .row .actions i.delete,
#categories-list-page .filters .row .actions i.delete,
#products-page .categories .row .actions i.delete,
#products-page .filters .row .actions i.delete {
  color: red;
}
#categories-page .categories .row:hover,
#categories-page .filters .row:hover,
#categories-list-page .categories .row:hover,
#categories-list-page .filters .row:hover,
#products-page .categories .row:hover,
#products-page .filters .row:hover {
  background: #fafafa;
}
#categories-page .categories .row:hover .actions i,
#categories-page .filters .row:hover .actions i,
#categories-list-page .categories .row:hover .actions i,
#categories-list-page .filters .row:hover .actions i,
#products-page .categories .row:hover .actions i,
#products-page .filters .row:hover .actions i {
  display: inline;
}
#categories-page .categories li ul,
#categories-page .filters li ul,
#categories-list-page .categories li ul,
#categories-list-page .filters li ul,
#products-page .categories li ul,
#products-page .filters li ul {
  display: none;
}
#categories-page .categories li.expanded > ul,
#categories-page .filters li.expanded > ul,
#categories-list-page .categories li.expanded > ul,
#categories-list-page .filters li.expanded > ul,
#products-page .categories li.expanded > ul,
#products-page .filters li.expanded > ul {
  display: block;
}
#categories-page .categories li > ul > li > .row > .name,
#categories-page .filters li > ul > li > .row > .name,
#categories-list-page .categories li > ul > li > .row > .name,
#categories-list-page .filters li > ul > li > .row > .name,
#products-page .categories li > ul > li > .row > .name,
#products-page .filters li > ul > li > .row > .name {
  padding-left: 20px;
}
#categories-page .categories li > ul > li > ul > li .row > .name,
#categories-page .filters li > ul > li > ul > li .row > .name,
#categories-list-page .categories li > ul > li > ul > li .row > .name,
#categories-list-page .filters li > ul > li > ul > li .row > .name,
#products-page .categories li > ul > li > ul > li .row > .name,
#products-page .filters li > ul > li > ul > li .row > .name {
  padding-left: 40px;
}
#categories-page .categories li > ul > li > ul > li > ul > li .row > .name,
#categories-page .filters li > ul > li > ul > li > ul > li .row > .name,
#categories-list-page .categories li > ul > li > ul > li > ul > li .row > .name,
#categories-list-page .filters li > ul > li > ul > li > ul > li .row > .name,
#products-page .categories li > ul > li > ul > li > ul > li .row > .name,
#products-page .filters li > ul > li > ul > li > ul > li .row > .name {
  padding-left: 60px;
}

#orders-page td.datetime {
  width: 110px;
}
#orders-page td.phone {
  width: 130px;
}
#orders-page td.total {
  width: 90px;
}
#orders-page td.zip {
  width: 8px;
}
#orders-page .notes-indicator {
  min-width: 100px;
  font-size: 12px;
}
#orders-page .notes-indicator .fa {
  font-size: 10px;
  margin-right: 5px;
}

#order-page .ip {
  margin-left: 10px;
  background: #f5f5f5;
  padding: 3px;
}
#order-page .title-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#order-page .title-bar h1 {
  margin-bottom: 0;
}
#order-page .title-bar.with-subtitle {
  margin-bottom: 0;
}
#order-page h1 span {
  color: #999;
}
#order-page h1.with-subtitle {
  margin-bottom: 0;
}
#order-page h1 ~ .subtitle {
  margin-bottom: 20px;
}
#order-page .subtitle {
  color: #888;
  margin-bottom: 20px;
}
#order-page .htag {
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
#order-page .htag.warning {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.3);
}
#order-page .hold-inventory {
  font-size: 14px;
  font-weight: 400;
  float: right;
}
#order-page .hold-inventory input {
  margin: 0;
}
#order-page .cc-inputs {
  width: 100%;
}
#order-page .section.order-details {
  min-width: 650px;
  position: relative;
}
#order-page .section.order-details .matches {
  width: calc(100% - 40px);
  background: #fff;
  max-height: 400px;
  box-shadow: 4px 4px 4px #ccc;
}
#order-page .section.order-details .matches li {
  display: flex;
  align-items: center;
  padding: 15px;
}
#order-page .section.order-details .matches li.unavailable {
  opacity: 0.4;
  cursor: default;
}
#order-page .section.order-details .matches li:hover {
  background: #eee;
}
#order-page .section.order-details .matches li img {
  max-width: 100px;
  max-height: 50px;
}
#order-page .section.order-details .matches li div {
  flex: 1 1 20%;
  padding: 10px;
}
#order-page .section.order-details .matches li div.name {
  flex: 1 1 50%;
}
#order-page .section.order-details .matches li div.price {
  flex: 1 1 10%;
}
#order-page .shippable {
  margin-top: 10px;
  font-size: 13px;
}
#order-page .close-lookup {
  position: absolute;
  right: 10px;
  top: 3px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
#order-page .close-lookup i {
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
  transition: 0.2s all ease-in-out;
}
#order-page .close-lookup i:hover {
  color: red;
}
#order-page .line-items {
  margin-top: 20px;
}
#order-page .line-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px 10px 15px 10px;
}
#order-page .line-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#order-page .line-item .item-quantity {
  flex: 0 0 60px;
  padding: 5px;
}
#order-page .line-item .item-quantity.readonly {
  font-weight: 700;
}
#order-page .line-item .item-quantity input[type=text] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
}
#order-page .line-item .item-quantity .qty-warning {
  color: red;
  margin-top: 5px;
  text-align: center;
  font-size: 11px;
  display: none;
}
#order-page .line-item .item-quantity.underStocked input[type=text] {
  border: 1px solid red;
}
#order-page .line-item .item-quantity.underStocked .qty-warning {
  display: block;
}
#order-page .line-item.deleted {
  color: red;
}
#order-page .line-item.deleted .item-quantity,
#order-page .line-item.deleted .item-price {
  opacity: 0;
}
#order-page .line-item .item-info {
  flex: 1 1;
  padding: 10px 30px 10px 10px;
  padding-right: 20px;
  font-weight: 500;
}
#order-page .line-item .item-image {
  flex: 0 0 100px;
  text-align: center;
}
#order-page .line-item .item-image img {
  max-width: 100%;
  max-height: 50px;
  margin: auto;
  display: inline-block;
}
#order-page .line-item .item-name {
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 5px;
  font-weight: 400;
}
#order-page .line-item .item-sku {
  font-size: 14px;
  color: #777;
  font-weight: 400;
}
#order-page .line-item .item-options .option-name {
  font-size: 13px;
  font-weight: 600;
  margin-right: 5px;
}
#order-page .line-item .item-options .option-value {
  font-size: 13px;
}
#order-page .line-item .serial-number {
  margin-top: 10px;
}
#order-page .line-item .serial-number input {
  max-width: 300px;
  padding: 5px 10px;
  text-align: left;
}
#order-page .line-item .item-total-quantity {
  padding-left: 10px;
  flex: 0 0 50px;
}
#order-page .line-item .item-price {
  flex: 0 0 100px;
  width: 100px;
}
#order-page .line-item .item-price input[type=text] {
  padding: 5px;
  width: 100%;
  font-size: 14px;
}
#order-page .line-item .item-total {
  flex: 0 0 100px;
  width: 100px;
  font-size: 14px;
  text-align: right;
}
#order-page .shipping-toggle {
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
}
#order-page .shipping-toggle.shipping {
  margin-bottom: 0;
}
#order-page .reload-shipping {
  float: right;
}
#order-page .reload-shipping i {
  cursor: pointer;
}
#order-page .loading-shipments img {
  height: 25px;
}
#order-page input.shipment-item-qty {
  width: 60px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}
#order-page input.shipment-item-qty::-webkit-inner-spin-button {
  opacity: 1;
}
#order-page .summary table {
  margin-bottom: 0;
}
#order-page .summary td {
  padding: 2px 0;
  border-bottom: 0;
}
#order-page .summary tr.total td {
  font-weight: bold;
  font-size: 18px;
}
#order-page .summary tr.due td {
  font-weight: bold;
}
#order-page .verification ul {
  margin-left: 20px;
  margin-top: 5px;
}
#order-page .verification ul li {
  list-style-type: disc;
  font-size: 13px;
}
#order-page .remove-item {
  flex: 0 0 50px;
  text-align: right;
}
#order-page .remove-item i {
  cursor: pointer;
  color: #ddd;
  font-size: 22px;
  transition: 0.2s all ease-in-out;
}
#order-page .remove-item i:hover {
  color: red;
}
#order-page .payments .fa-times {
  cursor: pointer;
  color: #ddd;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
  margin-left: 5px;
}
#order-page .payments .fa-times:hover {
  color: red;
}
#order-page .payments .payment-notes {
  font-size: 11px;
  color: #555;
}
#order-page .payments .capture-payment a {
  font-size: 11px;
}
#order-page .photos {
  display: flex;
}
#order-page .photos span {
  flex: 0 0 100px;
  cursor: pointer;
  padding: 7px 7px 3px 7px;
  border: 1px solid #ccc;
  margin: 5px;
}
#order-page .photos span img {
  max-width: 100%;
  max-height: 100px;
}
#order-page .shipment {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  position: relative;
}
#order-page .shipment > div {
  flex: 1 1 auto;
  padding: 10px;
}
#order-page .shipment .tracking-info {
  font-weight: 400;
  margin-left: 10px;
  font-size: 12px;
}
#order-page .shipment .shipment-address,
#order-page .shipment .shipment-method {
  background: #fafafa;
  padding: 15px;
  position: relative;
}
#order-page .shipment .shipment-address img,
#order-page .shipment .shipment-method img {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
}
#order-page .shipment .remove-item {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 0;
}
#order-page .shipment .shipment-details {
  padding: 0;
}
#order-page .shipment .shipment-items {
  margin-bottom: 0;
}
#order-page .shipment .shipment-items h5 {
  margin-bottom: 10px;
}
#order-page .shipment .shipment-item {
  line-height: 1.2em;
  margin-bottom: 10px;
}
#order-page .shipment .free-shipping {
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}
#order-page .shipment .shipment-price {
  margin-bottom: 5px;
}
#order-page .shipment .shipment-price span {
  border-bottom: 2px dotted #aaa;
  cursor: pointer;
}
#order-page .methods {
  max-height: 400px;
  overflow-y: auto;
}
#order-page .local-dealers img {
  height: 30px;
  float: left;
}
#order-page .overwritten {
  margin-top: 10px;
  font-size: 12px;
  text-decoration: line-through;
  color: #777;
  font-style: italic;
}
#order-page .payments-view {
  width: 400px;
}
#order-page .payments-view .manual-card {
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
}
#order-page h1 .actions span {
  color: #333;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}
#order-page .problem-name {
  font-weight: 500;
}
#order-page .action-list {
  position: absolute;
  top: 40px;
  background: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 200px;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #ccc;
  z-index: 99;
  display: none;
}
#order-page .action-list:hover {
  display: block;
}
#order-page .action-list span {
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  display: block;
}
#order-page .action-list span:hover {
  background-color: #f1f1f1;
}
#order-page .actions:hover .action-list {
  display: block;
}

#invoice {
  display: none;
}

@media print {
  #content {
    margin: 10px;
  }
  html,
body,
#content,
#invoice,
#invoice *,
.printable {
    display: block;
    visibility: visible;
  }
  #invoice table {
    display: table;
    width: 100%;
  }
  #invoice tbody,
#invoice thead {
    display: table-row-group;
  }
  #invoice tr {
    display: table-row;
  }
  #invoice thead, #invoice tbody, #invoice tr {
    width: 100%;
  }
  #invoice td, #invoice th {
    display: table-cell;
    text-align: left;
    padding: 10px 5px;
  }
  #invoice td.text-right, #invoice th.text-right {
    text-align: right;
  }
  #invoice .summary {
    display: block;
    height: auto;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  #invoice .summary div, #invoice .summary h5 {
    display: block;
    height: auto;
  }
  #invoice .summary h5 {
    font-size: 16px;
  }
}
#customer-page .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
#customer-page .delete:hover {
  color: red;
  opacity: 1;
}
