.page {

    h1, h2 {
        margin-bottom: 30px;
    }
    
    p {
        margin-bottom: 25px;
    }
    ul {
        margin-left:20px;
        li {
            margin-bottom: 15px;
        }
    }

}